.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#6984dd, #f398ff);
}

.Home .container {
  max-width: 700px;
  width: 100%;
  background: #fff;
}

.Home img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.Home .content {
  padding: 50px;
}

.Home .content .title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.Home .content .btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background: #621be7;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}
