.questionCard {
  max-width: 800px;
  width: 100%;
  padding: 0 50px;
  text-align: center;
}

.questionCard .lifeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.questionCard .lifeline .fiftyFifty,
.hint {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.questionCard .lifeline .hint {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  cursor: pointer;
}

.questionCard .lifeline .fiftyFifty img,
.hint img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.questionCard .time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #fff;
  z-index: 10000;
  font-size: 1.65rem;
}

.questionCard .time .circle {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: #000;
}

.questionCard .time .circle:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 10px solid #1b1a1c;
  border-radius: 50%;
}

.questionCard .time .circle:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #2f2e33;
  border-radius: 50%;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.75), 0 2px 2px rgba(255, 255, 255, 0.5),
    inset 0 4px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 2px rgba(255, 255, 255, 0.5);
}

.questionCard .time .circle svg {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(270deg);
}

.questionCard .time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  stroke: lime;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 280;
}

.questionCard-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.questionCard-title .questionNumber {
  width: fit-content;
  border-bottom: 2px solid gold;
  padding-bottom: 10px;
  margin: 0 auto 10px;
}

.questionCard button {
  width: 48%;
  height: 40px;
  margin: 0.3rem;
  background: #fff;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.questionCard button:hover {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

.questionCard .hover {
  opacity: 0;
  width: fit-content;
  background: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 30px auto 0;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: chartreuse;
  transition: 0.5s ease-in-out;
}

.questionCard .btn:hover + .hover {
  opacity: 1;
}